.App {
  text-align: center;
  padding: 20px;
}

nav{
  padding-bottom: 20px;

}

.list{
  text-align: left;
  padding-left: 20px;
  border-bottom: 1px solid black;
}

a {
  text-decoration: none;
  padding: 20px;
}

button {
  background-color: #004efe;
  border: none;
  padding: 12px 24px;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #2e6cff;
}

button:focus {
  background-color: #86aaff;
}

